/* Universal Selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* above 3 are must in every webpage*/
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*element selector*/
h1 span{
    color:blue;
}

/* class selector */
.class{
    color: blueviolet;
    font-size: 50px;   
}

/* id  selector */
#id{
    color: brown;
}

/* attribute selector */

input[type="text"]{
    background-color: black;
}
a[href="https://www.marvel.com/movies"]{
    color: cadetblue;
    font-size: 25px;
}